Body{
    color:blueviolet;
  background:blue;
}


header{
border-bottom:  solid 2px rgb(87, 42, 99);
      padding: 20px;
      font-size: 32px;
      color: rgb(99, 18, 95);
}

section{
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
   justify-content:  center;
}

  .chamada-texto{
       margin-right: 5%; ;    
}